.bg-auto {
  background-color: #6777ef;
}

.position {
  width: 550px !important;
}

.round {
  border-radius: 25px;
}

.promo {
  text-decoration: line-through;
  font-size: 10px;
}

@media only screen and (max-width: 992px) {
  .position {
    margin-left: 0px;
    width: 400px !important;
  }

  .srch {
    margin-left: 5px;
  }
}
